body {
    /* min-height: 100vh;
    min-width: 100vw;*/
    /*background-color: #12181f;*/
    background-image: url("img/Masion_Background.webp");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    color: black;
    --card_width: 11vw;
    --card_width_horizontal: 22vw;
    /*This varaible can be used later; but it stands for 8% of the Visinble Width */
}


.TopContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Intro {
    width: 77vw;
    font-size: 2.5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*backdrop-filter: blur(3px);*/
    background-color: #F5F2E8;
    text-align: justify;


}

p,
h2,
li {
    margin-left: 8px;
    margin-right: 8px;
}

.Suspect_Grid {
    display: grid;
    /* Make this a grid */
    /* justify-content: center;*/

    grid-gap: 6px;
    grid-template-columns: repeat(7, var(--card_width));
    grid-template-rows: repeat(3, calc(var(--card_width) / 2.5 * 3.5));
}

.Reward_Grid {
    display: grid;
    /* Make this a grid */
    /* justify-content: center;*/
    grid-gap: 6px;
    grid-template-columns: repeat(3, var(--card_width_horizontal));
    grid-template-rows: auto;
    /*grid-template-rows: 10vh repeat(2, calc(var(--card_width_horizontal)/3.5*2.5));*/
}

.Reward_Instructions {
    grid-column: span 3;
    display: flex;
    justify-content: center;

}

.supper_hidden {
    display: none;
}

.card {
    height: calc(var(--card_width) / 2.5 * 3.5);
    width: var(--card_width);
    /*border-radius: 10px;
    background-color: white;*/
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.card_H {
    width: var(--card_width_horizontal);
    height: calc(var(--card_width_horizontal)/3.5*2.5);
    /*border-radius: 10px;
    background-color: white;*/
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.front,
.back,
.overlay {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.back,
.flipped {
    transform: rotateY(180deg);
}


div.escaped .front {
    filter: grayscale(100%);
}

.overlay {
    pointer-events: none;
    display: flex;
    justify-content: center;
    backface-visibility: visible;
}

.status-image {
    width: 100%;
    object-fit: contain;
    height: auto;
}

.hidden {
    transition: transform 0.3s ease;
    backface-visibility: hidden;
    /*transform: rotateY(90deg);*/
    display: none;

}

.front-image {
    /*width: var(--card_width);*/
    transition: transform 0.3s ease;
    /* Smooth transition */
    max-width: 100%;
    max-height: 100%;

}

.card:hover {
    transform: scale(1.5);
    z-index: 10;
    /* Increase size by 20% */
}

.Instructions {
    display: flex;
    flex-direction: column;
}

.StatBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.VertBar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
}

.icon {
    width: 3vw;
}

span.counters {
    /*    position: relative;
    left: -2vw;
    top: 1.2vw;*/
    font-size: 5.5vh;

    text-align: center;
    font-weight: bold;
    color: rgb(19, 18, 18);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*width: 0;*/

}

button {
    /* align-content: center; */
    font-size: 2vh;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}

p.distance {
    width: 100%;
    height: 100%;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(-180deg);
}